
{% extends 'base.html' %}
{% load static %}
{% load base64_filters %}

{% block title %}Stations de Ski{% endblock %}

{% block content %}
  
  <script src="{% static 'js/paginationski.js' %}"></script>

  <!-- ***** Main Banner Area Start ***** -->
  <section id="section-1">
    <div class="content-slider">
      <input type="radio" id="banner1" class="sec-1-input" name="banner" checked>
      <input type="radio" id="banner2" class="sec-1-input" name="banner">
      <input type="radio" id="banner3" class="sec-1-input" name="banner">
      <input type="radio" id="banner4" class="sec-1-input" name="banner">

      <div class="slider">
        {% for station in ski_stations %}
        <div id="top-banner-{{ forloop.counter }}" class="banner">
            <div class="banner-inner-wrapper header-text">
                <div class="main-caption">
                    <h1>{{ station.name }}</h1>
                    <div class="border-button">
                        <a href="#">Allez</a>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="more-info">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6 col-6">
                                        <i class="fa fa-user"></i>
                                        <h4><span>Capacité:</span><br>{{ station.capacity }} personnes</h4>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-6">
                                      <i class="fa fa-mountain"></i>
                                      <h4><span>Altitude:</span><br>{{ station.altitude }} m</h4>
                                  </div>
                                  <div class="col-lg-3 col-sm-6 col-6">
                                      <i class="fa fa-road"></i>
                                      <h4><span>Distance de Grenoble:</span><br>{{ station.distanceFromGrenoble }} km</h4>
                                  </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
      </div>
    
      <nav>
        <div class="controls">
          <label for="banner1"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">1</span></label>
          <label for="banner2"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">2</span></label>
          <label for="banner3"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">3</span></label>
          <label for="banner4"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">4</span></label>
        </div>
      </nav>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->
  
  <div class="visit-country">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-heading">
                  <h2>Visitez l'une de nos stations de ski dès maintenant</h2>
                  <p>Découvrez les meilleures stations de ski que nous proposons, avec des informations détaillées et des visuels époustouflants.</p>                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div id="ski-station-list" class="items">
                    <div class="row">
                        {% for station in ski_stations %}
                        <div class="col-lg-12 station-item">
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-5">
                                        <div class="image">
                                            {% if station.image %}
                                            <img src="data:image/jpeg;base64,{{ station.image|b64encode }}" alt="{{ station.name }}">
                                            {% else %}
                                            <img src="{% static 'images/default.jpg' %}" alt="Default image">
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-sm-7">
                                        <div class="right-content">
                                            <h4>{{ station.name }}</h4>
                                            <span>{{ station.location }}</span>
                                            <div class="main-button">
                                                <a href="{% url 'ski_station_detail' station.id %}">Découvrez</a>
                                            </div>
                                            <p>Découvrez la beauté de {{ station.name }}.</p>
                                            <ul class="info">
                                                <li><i class="fa fa-user"></i> Capacité : {{ station.capacity }}</li>
                                                <li><i class="fa fa-user"></i> Pistes : {{ station.num_circuits }}</li>
                                            </ul>
                                            <div class="text-button">
                                                <a href="ski-station/{{ station.id }}">Besoin d'indications ? <i class="fa fa-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        <div class="col-lg-4">
          <div class="side-bar-map">
            <div class="row">
              <div class="col-lg-12">
                <div id="map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27620.401701224374!2d5.704524!3d45.188529!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478af5ad36559f13%3A0x408ab2ae4baea40!2sGrenoble!5e0!3m2!1sen!2sfr!4v1700000000000!5m2!1sen!2sfr" width="100%" height="550px" frameborder="0" style="border:0; border-radius: 23px;" allowfullscreen=""></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pagination-controls">
          <button id="prev-btn" class="pagination-btn">Précédent</button>
          <span id="pagination-numbers"></span>
          <button id="next-btn" class="pagination-btn">Suivant</button>
        </div>
  
      </div>
    </div>
  </div>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>

  <script src="{% static 'js/isotope.min.js'%}"></script>
  <script src="{% static 'js/owl-carousel.js'%}"></script>
  <script src="{% static 'js/tabs.js'%}"></script>
  <script src="{% static 'js/popup.js'%}"></script>
  <script src="{% static 'js/custom.js'%}"></script>

  <script>
    function bannerSwitcher() {
      next = $('.sec-1-input').filter(':checked').next('.sec-1-input');
      if (next.length) next.prop('checked', true);
      else $('.sec-1-input').first().prop('checked', true);
    }

    var bannerTimer = setInterval(bannerSwitcher, 5000);

    $('nav .controls label').click(function() {
      clearInterval(bannerTimer);
      bannerTimer = setInterval(bannerSwitcher, 5000)
    });
  </script>

  </body>

  {% endblock %}